html {
    font-size: 62.5%;
}

:root {
    --main-color: #3455DB;
    --bg-color: aqua;
}

body {
    margin: 0;
    font-family: 'Lato',
        sans-serif;
    background-color: var(--bg-color);
    color: var(--main-color);
    height: 100vh;
    padding: 10px;

}

*,
*::after,
*::before {
    box-sizing: border-box;
    overflow-wrap: break-word;
    hyphens: auto;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

}

.t-center {
    text-align: center;
}

#title {
    font-size: 4.4rem;
    font-family: 'Arvo',
        serif;
}


main {
    font-size: 2.2rem;
}

#description {
    margin-bottom: 2rem;
}




.row {
    padding: 20px;
    margin-bottom: 2rem;
}

.box-center {
    margin: 0 auto;
}

.w-400 {
    width: 400px;
}



label {
    margin-bottom: 1.4rem;
    display: block;
}

label.radio-checkbox {
    display: inline;
    margin: 0;
}

input[type=radio],
input[type=checkbox] {
    position: relative;
    top: -3px;
    margin-right: 1rem;
}

.radio-container,
.checkbox-container {
    margin-bottom: 1.4rem;
}

input:not([type="radio"]):not([type="checkbox"]),
select {
    border: 2px solid #3455DB;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    width: 300px;
    font-size: 2rem;

}

select {
    height: 50px;

}

#comments {
    border: 2px solid var(--main-color);
    font-size: 2rem;
    line-height: 1.4;
    padding: 10px;
    width: 100%;
    resize: vertical;
    height: 90px;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    padding: 15px 20px;
    background-color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.8rem;
    border-radius: 100px;
    border: 0;
    color: white;
}

@media (max-width: 500px) {

    input:not([type="radio"]):not([type="checkbox"]),
    select {
        width: 80%;
    }

    .full {
        width: 100%;
    }

}